<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div>
    <div>Hi {{ username }} 好久不见！</div>
    <div><br></div>
    <div>是否还记得一年以前，蚁阅刚刚上线时的幼稚模样？</div>
    <div><br></div>
    <div>在这一年多时间里，我一直在不断完善蚁阅的功能和体验，如今的蚁阅已焕然一新！</div>
    <div><br></div>
    <div>
        <span>蚁阅依旧是无广告，无推荐，专注阅读的 RSS 阅读器。</span>
        <span>全新界面设计，现已适配桌面端，也支持添加到手机主屏。</span>
        <span>支持全文阅读，图片代理，播客等等，全球 RSS 均可订阅。</span>
    </div>
    <div><br></div>
    <div>如果你需要一款好用的 RSS 阅读器，轻松订阅博客和资讯，欢迎回来看看！</div>
    <div>开箱即用地址：<a href="https://rss.anyant.com/hello?utm_source=email">https://rss.anyant.com/</a></div>
    <div><br></div>
    <div>使用中如有任何问题，欢迎随时联系我！</div>
    <div><br></div>
    <div>guyskk</div>
    <div>蚁阅开发者</div>
</div>