# django
django==2.2.28
djangorestframework==3.12.2
django-debug-toolbar==2.2.1
django-extensions==2.2.9
django-allauth==0.44.0
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
django-timezone-field==4.0
django-optimistic-lock==1.0.0
django-seal==1.2.3
jsonfield==3.1.0
pytest-django==3.10.0

# wsgi
whitenoise==5.0.1
gunicorn==20.0.4
supervisor==4.1.0

# postgres
psycopg2==2.8.6
SQLAlchemy==1.3.15
django-postgrespool2==1.0.1
pgcli==3.1.0

# feedlibs
requests==2.26.0
urllib3==1.26.6
PySocks==1.7.1
yarl==1.6.3
certifi==2020.6.20
chardet==3.0.4
cchardet==2.1.6
httpx==0.23.0
feedparser==6.0.0b3  # TODO: https://github.com/kurtmckee/feedparser/issues/198
atoma==0.0.17
python-dateutil==2.8.1
lxml==4.9.1
bs4==0.0.1
beautifulsoup4==4.8.2
pynliner==0.8.0
html2text==2020.1.16
readability-lxml==0.8.1
fake-useragent==0.1.11
pyOpenSSL==19.1.0
cryptography==3.3.2
listparser==0.18

# aiolibs
aiohttp==3.7.4
aiodns==2.0.0
aiohttp-devtools==0.13.1
aiojobs==0.3.0
aiocontextvars==0.2.2  # Python 3.6
aiohttp-socks==0.5.5
python-socks==1.2.4

# metrics
raven==6.10.0
sentry-sdk==0.9.0
prometheus-client==0.7.1

# helpers
Brotli==1.0.7
validr==1.2.0
msgpack==1.0.0
loguru==0.3.1
netifaces==0.10.9
python-slugify==3.0.2
validators==0.14.0
Click==7.1.2
PyYAML==5.4
Mako==1.1.2
tqdm==4.44.1
python-dotenv==0.12.0
markdown==3.2.1
packaging==19.2
lz4==3.1.0
pyjwt==1.7.1
shopant-sdk==0.0.3
wcwidth==0.1.7
mako==1.1.2
hashids==1.3.1

# test
pytest==5.4.1
pytest-cov==2.8.1
pytest-httpserver==0.3.4
flake8==3.7.9
pycodestyle==2.5.0
isort==5.10.1
coverage==4.5.4
flask==2.0.2
autopep8==1.5
pre-commit==2.3.0
locust==1.4.1
geventhttpclient==1.5.3
pyzmq==20.0.0

# package
pip-tools==5.5.0
pipdeptree==0.13.2
pyinstaller==4.7

# deploy
aliyun-fc2==2.5.0

# backdoor
psutil==5.6.7
objgraph==3.4.1
pyinstrument==3.1.3
pyinstrument-cext==0.2.2
memory-profiler==0.57.0
graphviz==0.13
module-graph==0.0.1
py-spy==0.3.3
