# django
Django==2.2.6
djangorestframework==3.10.3
django-debug-toolbar==2.0
django-extensions==2.2.3
django-allauth==0.40.0
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
django-timezone-field==3.1
django-click==2.1.0
django-optimistic-lock==1.0.0
jsonfield==2.0.2

# wsgi
whitenoise==4.1.4
gunicorn==19.9.0

# postgres
psycopg2==2.7.7
psycopg2-binary==2.7.7
SQLAlchemy==1.2.18
django-postgrespool2==1.0.0
pgcli==2.0.2
sqlparse==0.2.4

# feedlibs
requests==2.22.0
certifi==2019.9.11
chardet==3.0.4
cchardet==2.1.4
feedparser==5.2.1
lxml==4.3.3
bs4==0.0.1
beautifulsoup4==4.7.1
pynliner==0.8.0
html2text==2018.1.9
readability-lxml==0.7.1

# aiolibs
aiohttp==3.6.2
aiodns==2.0.0
aiohttp-devtools==0.13.1
aiojobs==0.2.2
aiocontextvars==0.2.2  # Python 3.6

# metrics
raven==6.10.0
sentry-sdk==0.9.0
prometheus-client==0.7.1

# helpers
Brotli==1.0.7
validr==1.1.1
attrdict==2.0.1
msgpack==0.6.2
loguru==0.3.1
netifaces==0.10.9
python-slugify==3.0.2
validators==0.14.0
Click==6.7
PyYAML==5.1.2
Mako==1.1.0
tqdm==4.31.1
cached-property==1.5.1
python-dotenv==0.10.2

# test
pytest==5.2.1
pytest-cov==2.8.1
coverage==4.5.4
flask==1.1.1

# package
pip-tools==4.2.0
pipdeptree==0.13.2
shiv==0.0.50

# backdoor
psutil==5.6.3
objgraph==3.4.1
pyinstrument==3.0.1
pyinstrument-cext==0.2.0
memory-profiler==0.55.0
Pympler==0.7
graphviz==0.13
module-graph==0.0.1
